@using Development.Models;
@{
    Layout = null;
}

@*<script>
        $(document).ready(function () {
            $('#progress-student-course-add-link').click();
        })
    </script>

    @Ajax.ActionLink(" ",
                                    "ProgressStudentCoursesAdd",
                                    new { },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "progress-student-courses-add",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET"
                                    },
                                    new { @id = "progress-student-course-add-link" })*@

<ul class="nav nav-tabs">
    <li class="active"><a href="#">@Session["CurrentSemesterString"]</a></li>
    @foreach (Semester s in ViewBag.StudentSemesters)
    {
        <li>
            @Ajax.ActionLink(@s.Season + " " + @s.Year,
                                         "ProgressStudentCoursesUpdate",
                                         new { sem = @s.SemesterId },
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "progress-student-courses-body",
                                             InsertionMode = InsertionMode.Replace,
                                             HttpMethod = "GET"
                                         },
                                         new { @id = "progress-student-course-add-link" })
        </li>
    }
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="progress-student-courses-body">
        @foreach (Course c in ViewBag.StudentCurrentClasses)
        {
            <tr>
                <td>@c.CourseString</td>
                <td>@c.Title</td>
                <td>@c.Description</td>
            </tr>
        }

    </tbody>
</table>

