<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cardinal Development</title>>

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

    @RenderSection("css", required: false)

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
 
    @RenderSection("scripts", required: false)

    <!-- Bootstrap table -->
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table-en-US.js"></script>
    <script src="~/Scripts/bootstrap-table-toolbar.min.js"></script>

    <link href="~/Content/Layout.css" rel="stylesheet" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Oswald|PT+Sans" rel="stylesheet">



</head>
<body>
    <div id="container" class="container-fluid body-content">
        <div id="navbar" class="row">
            <div class="col-xs-2">
                <a href="/Dashboard">
                    <img id="logo" src="~/Content/Layout/Logo_Inverse.png" class="col-xs-12" />
                </a>
            </div>
            <div id="navigation-link-container" class="col-xs-6">
                <a id="nav-home" href="/Dashboard/Index" class="navigation-link navigation-link-active">
                    <span><span class="glyphicon glyphicon-home"></span> Home</span>
                </a>
                <a id="nav-advising" href="/Advising/Index" class="navigation-link">
                    <span><span class="glyphicon glyphicon-ok"></span> Advising</span>
                </a>
                <a id="nav-progress "href="/Progress/Index" class="navigation-link">
                    <span><span class="glyphicon glyphicon-list-alt"></span> Progress</span>
                </a>
                <a id="nav-manage" href="/Dashboard/Development" class="navigation-link">
                    <span><span class="glyphicon glyphicon-wrench"></span> Manage</span>
                </a>
                <a id="nav-reports"href="/Reports/Index" class="navigation-link">
                    <span><span class="glyphicon glyphicon-file"></span> Reports</span>
                </a>


                </div>
            </div>

            <div id="toolbar" class="row">
                <div id="toolbar-menu" class="col-xs-8">
                    <p>[Toolbar context]</p>
                </div>
                <div id="breadcrumb-container" class="col-xs-4">
                    <ol id="breadcrumb" class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </div>
            </div>

<div class="row" id="content-row">
    <div id="panel-content">
        <div id="content">
            @RenderBody()
        </div>
    </div>
</div>
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - University of Louisville</p>
</footer>
</div>


</body>
</html>