@model _420Project.Models.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRecruitmentEvent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsRecruitmentEvent)
                    @Html.ValidationMessageFor(model => model.IsRecruitmentEvent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Group stuff -->
        <div class="well col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>Account Type</b></div>
                            <div class="col-md-12">
                                <label class="radio-inline"><input type="radio" name="optradio">Student</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Advisor</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Advisor</label>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">


                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>Year</b></div>
                            <div class="col-md-12">
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Freshman</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Sophmore</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Junior</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Senior</label>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>Campus</b></div>
                            <div class="col-md-12">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        All
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Louisville</a></li>
                                        <li><a href="#">Other</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>Advisor</b></div>
                            <div class="col-md-12">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        All
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Advisor 1</a></li>
                                        <li><a href="#">Advisor 2</a></li>
                                        <li><a href="#">Advisor 3</a></li>
                                        <li><a href="#">Advisor 4</a></li>
                                        <li><a href="#">Advisor 5</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">

                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>Program</b></div>
                            <div class="col-md-12">
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">BSN - LD</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">BSN - UD</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Master</label>
                                </span>
                            </div>
                        </div>





                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>Status</b></div>
                            <div class="col-md-12">
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Unenrolled</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Enrolled</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">Graduated</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>GPA</b></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Min GPA" />

                            </div>
                            <br />
                            <br />
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Max GPA" />

                            </div>

                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="col-md-12 text-left"><b>Has Petition</b></div>
                            <div class="col-md-12">
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">True</label>
                                </span>
                                <span class="checkbox">
                                    <label><input type="checkbox" value="">False</label>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <br />
                        <div class="col-md-12 text-left"><b>Compliance</b></div>
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td>
                                        <td>
                                            <label class="radio-inline"><input type="radio" name="compliance7"><span class="glyphicon glyphicon-ok"></span> In Compliance</label>
                                            <label class="radio-inline"><input type="radio" name="compliance7"><span class="glyphicon glyphicon-remove"></span> Out of Compliance</label>
                                        </td>
                                    </tr>




                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
