
@model _420Project.ViewModels.DashboardViewModel
@using _420Project.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
}
@section head{
    <script>
        $(document).ready(function () {

            
        $('#home-events-body').on("click", ".home-events-row", function () {

            $.ajax({
                type: "GET",
                url: "@(Url.Action("EventDetail", "Dashboard"))",
                success: function (data) {
                    $('#dashboard-event-modal-body').html(data);
                },
                error: function (data) {
                    alert('error');

                }
        })
        })
            
        // Manage AJAX
        @*
        $('#home-manage-students-link').click(function () {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ManageStudents", "Dashboard"))",
                success: function (data) {
                    $('#home-manage-area').html(data);
                },
            error: function (data) {
                alert('error');

            }
          })
        })

        $('#home-manage-events-link').click(function () {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ManageEvents", "Dashboard"))",
                success: function (data) {
                    $('#home-manage-area').html(data);
                },
            error: function (data) {
                alert('error');

            }
        })
    })*@



        });
</script>
}
@section navlinkhome{
    navigation-link-active
}

<!-- MODALS -->
<div id="home-event-dialog" title="Event Detail" class="hidden">
</div>

<!-- Modal -->
<div id="event-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Events</h4>
            </div>
            <div id="dashboard-event-modal-body" class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Links container-->
<div id="content-dashboard" class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default col-xs-12 panel-main">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <fieldset>
                                <legend id="DashboardWelcomeText">
                                    Welcome, @Session["CurrentUserFirstName"]
                                </legend>
                            </fieldset>
                        </div>
                        <div class="col-xs-12">
                            <div class="well">
                                <h3><span class="glyphicon glyphicon-certificate" style="color: #AD0000;"> </span> <b>3</b> Students out of Compliance</h3>
                                <h3><span class="glyphicon glyphicon-user" style="color: #AD0000"></span> <b>40</b> Enrolled Students</h3>
                                <h3><span class="glyphicon glyphicon-calendar" style="color: #AD0000"></span> <b>20</b> Days to Semester End</h3>           
                            </div>
                            <!--
                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h2 class="col-xs-4">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </h2>
                                        <h4 class="text-center col-sm-8"><b>42</b> Out of Compliance</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h1 class="col-xs-4">
                                            <span class="glyphicon glyphicon-cog"></span>
                                        </h1>
                                        <h4 class="text-center col-xs-8"><b>@Model.EnrolledStudents</b> Enrolled Students</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h1 class="col-xs-4">
                                            <span class="glyphicon glyphicon-stats"></span>
                                        </h1>
                                        <h4 class="text-center col-xs-8"><b>3.5</b> Average GPA</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h1 class="col-xs-4">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </h1>
                                        <h4 class="text-center col-xs-8"><b>50</b> Days to Semester End</h4>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                        <div class="col-xs-12">
                            <fieldset>
                                <legend>Action Items <a href="#"><span class="glyphicon glyphicon-cog"></span></a></legend>
                                <ul>
                                    <li><h4><a href="#">Create New Message...</a></h4></li>
                                    <li><h4><a href="#">Create New Student...</a></h4></li>
                                    <li><h4><a href="#">Create New To Do...</a></h4></li>
                                    <li><h4><a href="#">Create New Event...</a></h4></li>
                                    <li><h4><a href="#">Manage Students...</a></h4></li>
                                    <li><h4><a href="#">Manage Events...</a></h4></li>
                                    <li><h4><a href="#">Manage Todos ...</a></h4></li>         
                                </ul>

                            </fieldset>
                            <br />
                        </div>

                        <div class="col-xs-12">
                            <fieldset>
                                <legend>Links</legend>
                                <ul>
                                    <li><h4><a href="#">School of Nursing Homepage</a></h4></li>
                                    <li><h4><a href="#">Cardmail</a></h4></li>
                                    <li><h4><a href="#">PeopleSoft</a></h4></li>
                                    <li><h4><a href="#">Account Settings</a></h4></li>
                                </ul>

                            </fieldset>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="panel panel-default dashboard-panel panel-main">
                            <div class="panel-heading">
                                <h3 class="dashboard-panel-h3"><span class="badge">@Model.NotCount</span>Notifications</h3>
                            </div>
                            <table id="dashboard-notifications" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                                <thead class="hidden">
                                    <tr>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Notification n in Model.Notifications)
                                    {
                                        <tr>
                                            <td><H4>@n.Name</H4></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="panel panel-default dashboard-panel panel-main">
                            <div class="panel-heading">
                                <h3 class="dashboard-panel-h3"><span class="badge">@Model.ToDoCount</span>To Do</h3>
                            </div>
                            <table id="dashboard-todo" class="panel-body table-striped" data-pagination="true" data-page-size="5" data-page-list="">
                                <thead class="hidden">
                                    <tr>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ToDo t in Model.ToDo)
                                    {
                                        <tr>
                                            <td><h4>@t.Description</h4></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="panel panel-default dashboard-panel panel-main">
                            <div class="panel-heading">
                                <h3 class="dashboard-panel-h3"><span class="badge">@Model.EventCount</span>Events</h3>
                            </div>
                            <table id="dashboard-event" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                                <thead class="hidden">
                                    <tr>
                                        <th class="col-xs-3">Date</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="home-events-body">
                                    @foreach (Event e in Model.Event)
                                    {
                                        <tr class="home-events-row" data-toggle="modal" data-target="#event-modal">
                                            <td><h4>@e.Date</h4></td>
                                            <td><h4>@e.Name</h4></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default panel-main">
                            <div class="panel-heading">
                                <h3>Control Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-3 center">
                                    <div class="dropdown btn-group col-xs-12">
                                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                                            <h4><span class="glyphicon glyphicon-list"></span></h4>
                                            <h4>To Dos <span class="caret"></span></h4>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">JavaScript</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <div class="dropdown btn-group col-xs-12">
                                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                                            <h4><span class="glyphicon glyphicon-list"></span></h4>
                                            <h4>To Dos <span class="caret"></span></h4>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">JavaScript</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-6"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- MODAL -->
<!--
<div id="home-message-dialog" title="New Message" class="hidden">
    <div class="row col-sm-12">
        <h4 class="col-xs-12 text-center"><b>Group Settings</b></h4>

        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-md-12 text-left"><b>Account Type</b></div>
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-primary">Student</button>
                        <button type="button" class="btn btn-default">Advisor</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Year</b></div>
                        <div class="col-md-12">
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Freshman</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Sophmore</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Junior</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Senior</label>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Program</b></div>
                        <div class="col-md-12">
                            <span class="checkbox">
                                <label><input type="checkbox" value="">BSN - LD</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">BSN - UD</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Master</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Compliance</b></div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    All
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-ok"></span> In Compiance</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Not In Compliance</a></li>
                                </ul>
                            </div>
                        </div>

                        <br />

                        <div class="col-md-12 text-left"><b>Advisor</b></div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    All
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Advisor 1</a></li>
                                    <li><a href="#">Advisor 2</a></li>
                                </ul>
                            </div>
                        </div>

                        <br />

                        <div class="col-md-12 text-left"><b>Campus</b></div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    All
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Louisville</a></li>
                                    <li><a href="#">Other</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Status</b></div>
                        <div class="col-md-12">
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Unenrolled</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Active</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Inactive</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Graduated</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <a href="mailto:someone@example.com;someon2e@example.com?Subject=Test%20Email" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Create Message</a>
        </div>

    </div>
</div>
-->

<script>
    $(document).ready(function () {
        $('#dashboard-todo').bootstrapTable({

        });
    })

</script>