
@model _420Project.ViewModels.DashboardViewModel
@using _420Project.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
}
@section head{
    <script>
    $(document).ready(function () {

        $('#nav-home').addClass('active');

        $("#content-dashboard").hide();
        $("#content-dashboard").removeClass('hidden');
        $("#content-dashboard").show('blind', {}, 300);

        $("#home-message-button").click(function () {
            $('#home-message-dialog').hide();
            $('#home-message-dialog').removeClass('hidden');
            $('#home-message-dialog').dialog({
                hide: 'fold',
                show: 'blind',
                width: '500px'
            });
            $('#home-message-dialog').show();
        })

        $('#home-events-body').on("click", ".home-events-row", function () {

            $.ajax({
                type: "GET",
                url: "@(Url.Action("EventDetail", "Dashboard"))",
                success: function (data) {
                    $('#home-event-dialog').html(data);

                    $('#home-event-dialog').hide();
                    $('#home-event-dialog').removeClass('hidden');
                    $('#home-event-dialog').dialog({
                        hide: 'fold',
                        show: 'blind',
                        width: '500px'
                    });
                    $('#home-event-dialog').show();
                },
            error: function (data) {
                alert('error');

            }
        })
        })

        // Manage AJAX
        $('#home-manage-students-link').click(function () {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ManageStudents", "Dashboard"))",
                success: function (data) {
                    $('#home-manage-area').html(data);
                },
            error: function (data) {
                alert('error');

            }
          })
        })

        $('#home-manage-events-link').click(function () {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ManageEvents", "Dashboard"))",
                success: function (data) {
                    $('#home-manage-area').html(data);
                },
            error: function (data) {
                alert('error');

            }
        })
    })



    });
</script>
}
@section navlinkhome{
    navigation-link-active
}

<div id="home-event-dialog" title="Event Detail" class="hidden">
</div>

<div id="home-message-dialog" title="New Message" class="hidden">
    <div class="row col-sm-12">
        <h4 class="col-xs-12 text-center"><b>Group Settings</b></h4>

        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-md-12 text-left"><b>Account Type</b></div>
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-primary">Student</button>
                        <button type="button" class="btn btn-default">Advisor</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Year</b></div>
                        <div class="col-md-12">
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Freshman</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Sophmore</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Junior</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Senior</label>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Program</b></div>
                        <div class="col-md-12">
                            <span class="checkbox">
                                <label><input type="checkbox" value="">BSN - LD</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">BSN - UD</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Master</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Compliance</b></div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    All
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-ok"></span> In Compiance</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Not In Compliance</a></li>
                                </ul>
                            </div>
                        </div>

                        <br />

                        <div class="col-md-12 text-left"><b>Advisor</b></div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    All
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Advisor 1</a></li>
                                    <li><a href="#">Advisor 2</a></li>
                                </ul>
                            </div>
                        </div>

                        <br />

                        <div class="col-md-12 text-left"><b>Campus</b></div>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    All
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Louisville</a></li>
                                    <li><a href="#">Other</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-xs-6">
                    <br />

                    <div class="form-group">
                        <div class="col-md-12 text-left"><b>Status</b></div>
                        <div class="col-md-12">
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Unenrolled</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Active</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Inactive</label>
                            </span>
                            <span class="checkbox">
                                <label><input type="checkbox" value="">Graduated</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <a href="mailto:someone@example.com;someon2e@example.com?Subject=Test%20Email" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Create Message</a>
        </div>

    </div>
</div>

<!-- Links container-->
<div id="content-dashboard" class="row hidden">
    <div class="row">
        <div class="col-xs-4">
                <div class="panel panel-default col-xs-12">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h2 class="col-xs-4">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </h2>
                                        <h4 class="text-center col-sm-8"><b>42</b> Out of Compliance</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h1 class="col-xs-4">
                                            <span class="glyphicon glyphicon-cog"></span>
                                        </h1>
                                        <h4 class="text-center col-xs-8"><b>@Model.EnrolledStudents</b> Enrolled Students</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h1 class="col-xs-4">
                                            <span class="glyphicon glyphicon-stats"></span>
                                        </h1>
                                        <h4 class="text-center col-xs-8"><b>3.5</b> Average GPA</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel-default panel">
                                    <div class="panel-body">
                                        <h1 class="col-xs-4">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </h1>
                                        <h4 class="text-center col-xs-8"><b>50</b> Days to Semester End</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h3>Test</h3>
                            <br /><br /><br /><br /><br />
                            <h1>Test</h1>
                            <h3>Test</h3>
                            <br /><br /><br /><br /><br />
                            <h1>Test</h1>
                        </div>
                    </div>
                </div>


        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-4">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">
                            <h3 class="dashboard-panel-h3"><span class="badge">100</span>Notifications</h3>
                        </div>
                        <table id="dashboard-notifications" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 1; i <= 100; i++)
                                {
                                    <tr>
                                        <td>Test Notification</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">
                            <h3 class="dashboard-panel-h3"><span class="badge">100</span>To Do</h3>
                        </div>
                        <table id="dashboard-todo" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                            <thead>
                                <tr>
                                    <th class="col-xs-1"></th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 1; i <= 100; i++)
                                {
                                    <tr>
                                        <td><span class="glyphicon glyphicon-ok"></span></td>
                                        <td>Test Todo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">
                            <h3 class="dashboard-panel-h3"><span class="badge">100</span>Events</h3>
                        </div>
                        <table id="dashboard-event" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                            <thead>
                                <tr>
                                    <th class="col-xs-3">Date</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="home-events-body">
                                @for (int i = 1; i <= 100; i++)
                                {
                                    <tr class="home-events-row">
                                        <td>3-1-2017</td>
                                        <td>Test Event</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Control Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-8">
                                    <h3 class="text-center">Manage: </h3>
                                    <div class="well col-xs-12 row">
                                        <div class="col-xs-12">
                                            <div class="dropdown">
                                                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <b>Select...</b>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li id="home-manage-students-link"><a href="#">Students</a></li>
                                                    <li id="home-manage-events-link"><a href="#">Events</a></li>
                                                </ul>
                                            </div>
                                            <hr />
                                        </div>
                                        <div id="home-manage-area" class="col-xs-12 ">
                                            @*
                                        <h4>Events</h4>
                                        <a href="/Event/Index" class="btn btn-primary">Manage Events</a>
                                        <a href="/Event/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Create Event</a>
                                        <br /><br />
                                            *@
                                            <div class="col-xs-12 text-center">
                                                <h4>Select an item to manage...</h4>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <h3 class="text-center">Actions</h3>
                                    <div class="well row col-xs-12">
                                        <h4>Communicate</h4>
                                        <a id="home-message-button" href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>New Message</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div well>
    <a href="@Url.Action("Index", "Admin")" class="navbar-brand"><h6>Temp Admin Link</h6></a>
</div>


