@model IEnumerable<_420Project.Models.ProgramCourse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgramCourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgramCourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgramCourseId })
        </td>
    </tr>
}

</table>
