@using _420Project.ViewModels
@model IEnumerable<ProgressStudentAddCourseViewModel>
@{ 
    Layout = null;
}

<div class="panel-heading"><h3>Add Courses</h3></div>
<table id="progress-student-courses-add-table" data-toggle="table" class="table table-striped panel-body" data-click-to-select="true">
    <thead>
        <tr>
            <th></th>
            <th data-field="Name">Course</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="progress-student-courses-body">
        @foreach (ProgressStudentAddCourseViewModel c in Model)
        {
            if (c.HasTaken == true)
            {
                <tr class='progress-student-course-row danger' data-course-id='@c.CourseId'>
                    <td>@Html.CheckBoxFor(x => c.IsChecked)</td>
                    <td>@c.CourseString</td>
                    <td>@c.Title</td>
                    <td>@c.Description</td>
                </tr>
            }
            else
            {
                <tr class='progress-student-course-row' data-course-id='@c.CourseId'>
                    <td>@Html.CheckBoxFor(x => c.IsChecked)</td>
                    <td>@c.CourseString</td>
                    <td>@c.Title</td>
                    <td>@c.Description</td>
                </tr>
            }



        }

    </tbody>
</table>
<div class="panel-footer">
    <button id="student-progress-add-courses-button" type="button" class="btn btn-primary btn-lg" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span><p>Submit</p>
    </button>

</div>

<script>
    $('#progress-student-courses-add-table').bootstrapTable({

    });

    $(function () {
        $('#student-progress-add-courses-button').click(function () {
            $('.progress-student-course-row').hasClass('selected').each(function () {

                parseInt($(this).attr('data-course-id'));

                alert($(this).attr('data-course-id'));
                
            })
        })
    })
</script>