@using _420Project.Models;
@model IEnumerable<Student>
@section css{

}
@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        $(".progress-student-panel").hide();
        $(".progress-student-panel").removeClass('hidden');
        $(".progress-student-panel").show('fade', {}, 300);
    })
    function progressStudentAdd() {
        $('#progress-student-course-add-courses-link').click();
    };
</script>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default hidden progress-student-panel">
            <div class="panel-heading"><h3>Students</h3></div>
                    <table id="progress-student-sp" class="table table-striped panel-body" data-toggle="table" data-pagination="true" data-search="true">
                        <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th class="hidden">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr data-progress-student-id="@m.StudentId">
                                    <td class="progress-student-sp-row">
                                        @(m.FirstName + " " + @m.LastName)
                                    </td>
                                    <td>
                                        @Ajax.ActionLink(" ",
                                "StudentCourses",
                                new { id = m.StudentId },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "progress-student-courses",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                    OnSuccess = "progressStudentAdd();"
                                },
                                new { @class = "" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

    @*<div class="container-fluid">
            <div class="row">
                <div class="well">
                    <div class="row col-xs-12">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2 class="text-center">Students</h2>
                                        <ul class="list-group col-xs-12">
                                            @foreach (var s in Model)
                                            {
                                                @Ajax.ActionLink(s.FirstName + " " + s.LastName,
                                    "ProgressStudentTable",
                                    new { id = s.StudentId },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "progress-student-table",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET"
                                    },
                                    new { @class = "list-group-item" })
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2 class="text-center">Semesters</h2>
                                        <ul class="list-group col-xs-12">
                                            @foreach (var s in Model)
                                            {
                                                @Ajax.ActionLink(s.FirstName + " " + s.LastName,
                                    "ProgressStudentTable",
                                    new { id = s.StudentId },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "progress-student-table",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET"
                                    },
                                    new { @class = "list-group-item" })
                                            }
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-xs-12">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2 class="text-center">Courses</h2>
                                        <ul class="list-group col-xs-12">
                                            @foreach (var s in Model)
                                            {
                                                @Ajax.ActionLink(s.FirstName + " " + s.LastName,
                                    "ProgressStudentTable",
                                    new { id = s.StudentId },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "progress-student-table",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET"
                                    },
                                    new { @class = "list-group-item" })
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>



    *@
    <div class="col-xs-9">
        <div id="progress-student-courses" class="panel panel-default hidden progress-student-panel">
            <div class="panel-heading">
                <h3>Registered Courses</h3>
            </div>
            <div class="panel-body">
                <div class="progress-placeholder col-xs-12">
                    <h4 class="center">SELECT STUDENT...</h4>
                </div>
            </div>
        </div>

        <div id="progress-student-courses-add"class="panel panel-default hidden progress-student-panel">
            <div class="panel-heading">
                <h3>Add Courses</h3>
            </div>
            <div class="panel-body">
                <div class="progress-placeholder col-xs-12">
                    <h4 class="center">SELECT STUDENT...</h4>
                </div>
            </div>
        </div>

   </div>
</div>

<script>
    $('#progress-student-sp').bootstrapTable({
            
        });
</script>

<script>
    $(document).ready(function () {
        $('.progress-student-sp-row').click(function () {
            $(this).next().children().click();

            $('.progress-student-selected-student').removeClass('progress-student-selected-student')

            $(this).addClass("progress-student-selected-student");
        })
    });
</script>